doctype 5
html
  head
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.3.0/lodash.compat.js')
    script.
      var founders = !{founders}
      var startups = !{startups}
  body
    .container
      h1 Name that Founder
      h2 500 Startups Batch 007
